html {
    font-size: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-width: 290px;
    color: hsl(0, 0%, 0%);
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

header{
    color: black;
    margin: 1rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
}

p{
    margin: 1rem 0;
}